.header__navigation__container{
    display: none;
    flex-direction: column;
    background-color: var(--white);
    position: absolute;
    z-index: 1;
    top:88px;
    width:100%;
    padding:1rem;
    left:0;
    box-sizing: border-box;
}

.header__navigation__container--visible{
    display: flex;
}

.home__navigation__link{
    display: none;
}

.home__checkout__link{
    background: transparent;
    border: 0;
}


.header{
    /* height: 64px; */
    position: relative;
    background-color: var(--grey-black);
    width:100%;
    box-sizing: border-box;
    
    z-index: 4;
}

.sub__header{

    z-index: 1;
}


.header__home{
    position: relative;
    height:500px;
    background: #191919;
    overflow: hidden;
}
.header__home::before{
    display: inline-block;
    content: "";
    height:610px;
    background: #191919 url('../../assets/home/mobile/image-header.jpg');
    opacity: 0.5;;
    background-repeat:no-repeat;
    background-position: top -100px  center;
    background-size: contain; 
    width: 100%;
    /* margin: 0 5%; */
    position: absolute;
}


.header__top{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-black);
    padding:1.5rem 1rem;
    border-bottom: 1px solid var(--light-grey-trans);
}

.header__content{
    top: 108px;
    text-align: center;
    margin-left:5%;
    margin-right:5%;
    position: relative;
}


.header__link{
    padding:0.5em;
    cursor: pointer;
}


.header__navigation__link{
    padding:0 1rem;
    box-sizing: border-box;
}
.header__product{
    background-color: var(--grey-black);
    padding:0rem 0;
}
.header__product__type{
    display:block;
    width: 100%;
    margin-top: 68px;
    height:165px;
    background-color: var(--grey);
    border-radius: 8px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.header__product__title{

    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.1px;
    position: relative;
    top:88px
}

.header__product__link{
    color: var(--black);
    text-transform: uppercase;
    font-size: 0.86rem;
    opacity: 0.5;
    font-weight: 700;
    display: inline-block;
    position: relative;
    top:110px;
    padding-right: 1.35em;
    background: url('../../assets/orange-chevron.svg');
    background-repeat: no-repeat;
    background-position: right 0px;
}


.header__product__type:hover > .header__product__link{
    color: var(--dark-orange);
}


.header__product__title:active {
    color: var(--dark-orange);
}

.header__product__image{
    position: absolute;
    width:150px;
    height: auto;
    margin-left: -75px;
    top: -45px;
}

.page__subtitle--product{
    letter-spacing: 2px;
    font-size: 1.7rem;
    color: var(--white);
    background-color: var(--grey-black);
    font-weight: 700;
    text-transform: uppercase;
    padding:3rem;
    margin:0  auto;
    text-align: center;
}

.page__subtitle{
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--subtitle-grey);
    margin-bottom: 1em;
}

.page__title{
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 2.6rem;
    line-height: 40px;
    font-weight: 700;
    color: var(--white);
    margin-bottom:0.6em;
}

.page__description{
    color: var(--grey);
    line-height: 25px;
    opacity: .75;
    margin-bottom: 24px;
}

.basket__background{
    position: absolute;
    width: 100%;
    /* min-height: (100% - 100px); */
    z-index: 2;
    background: var(--lightbox-bg);
    left:0;
    /* top:100px; */
    height: 100%;
}
.basket__background::before{
    content: "";
    display: block;
    height: 100px;
}

.hamburger__link{
    background: transparent;
    border: 0;
}

@media (min-width: 600px) {
    
    .header__navigation__container{
        flex-direction: row;
        padding-bottom: 3rem;
    }

    .header__navigation__link{
        /* margin-left: 1em;
        margin-right: 1em; */
    }

   

}

@media (min-width: 900px) {
    .header{
        /* margin-bottom: 4rem; */
    }

    .home__checkout__link{
        margin-left: auto;
    }
        

    .header__top{
        justify-content: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 0;
        padding-right: 0;
        
    }

    .header__product{
        padding:5rem 0;
    }

    .header__product__link{
        display: none;
    }

    .header__home{
        max-width: 1200px;
        margin: 0 auto;
    }


    .header__home::before {
        background: url('../../assets/home/desktop/image-hero.jpg');;
        background-color: var(--grey-black);
        background-position: top -110px right -130px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header__content{
        text-align: left;
        width: 45%;
        
    }

    .header__product__image{
        display: none;
    }

    .header__product__type {
        height: unset;
        padding:0 1rem;
        background: none;
        margin:0;
        display: flex;
        justify-content: space-between;
        
    }

    .page__subtitle--product{
        padding: 0;
    }

    .header__product__title{
        color: var(--white);
        line-height: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0;
        top:unset;

    }

    .header__navigation__container{
        display: flex;
        background-color: unset;
        flex-direction: row;
        position: relative;
        top:unset;
        left:unset;
        width: unset;
        padding-bottom: 1rem;
    }

    .home__navigation__link{
        display: block;
    }

    .hamburger__link{
        display: none;
    }

    .home__link{
        /* float:left;*/
        width:25% 
    }

   
}

@media (min-width: 1300px) {
    .header__content{
        margin-left:0
        
    }

    .header__top{
        padding: 1.5rem 0;
        box-sizing: border-box;
        margin-left:auto;
        margin-right: auto;
    }
       
}