html {height:100%} 
body {min-height:100%}

.container{
    width:100%;
    margin:0 auto;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white);

}

.page__container{
    width:90%;
    display: flex;
    flex-direction: column;
    margin: 24px auto;
    margin-top:4rem;
} 

.page__container--checkout{
    margin-top: 0em;
}

@media (min-width:600px) {
    .page__container{
        width:80%;
    }
}

@media (min-width: 900px) {

    .page__container{
        max-width: 1200px;
    }

}