

body, html{
    font-family: 'Manrope', Arial, sans-serif;
    font-size:15px;
    background-color: var(--light-grey);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.header{
    /* height: 64px; */
    background-color: var(--grey-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 24px;
}